@model StokTakip.Entities.Model.AltKategori
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin:15px;text-align:center;color:#4B5860">
    <h2><b>@Model.AltKategoriAdi Güncelle</b></h2>
</div>

<div class="form-group" style="margin:15px">
    @using (Html.BeginForm("Guncelle", "AltKategori", FormMethod.Post))
    {

        @Html.HiddenFor(x => x.AltKategoriId)

        @Html.Label("Alt Kategori Adı")
        @Html.TextBoxFor(x => x.AltKategoriAdi, new { @class = "form-control" })
        <br />
        @Html.Label("Alt Kategori Açıklama")
        @Html.TextBoxFor(x => x.AltKategoriAciklama, new { @class = "form-control" })
        <br />
        <button class="btn btn-success">Alt Kategori Güncelle</button>
    }
</div>


