@using StokTakip.Entities.Model
@model List<AltKategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="text-align:center;background-color:#4B5860;color:white;margin:15px">
    <h2><b>Alt Kategori Listesi</b></h2>
</div>

<div class="form-group" style="text-align:right;margin:15px">
    @using (Html.BeginForm("Index", "AltKategori", FormMethod.Get))
    {
        <div>
            <b>Alt Kategori Adı : </b> @Html.TextBox("aranacaAltKtgr") &nbsp;
            <button style="text-align: center; color: white; background-color: #4B5860">Ara</button>
        </div>
    }
</div>

<div style="margin:15px" class="form-group">
    <table class="table table-bordered">
        <thead>
            <tr style="text-align:center; background-color:#4B5860; color:white">
                <th>Alt Kategori Id</th>
                <th>Alt Kategori Adı</th>
                <th>Kategori Adı</th>
                <th>Açıklama</th>
                <th>Durum</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var altKtgr in Model)
            {
                string renk = "black";
                string durum = "Aktif";
                if (!altKtgr.AltKategoriDurum)
                {
                    renk = "red";
                    durum = "Pasif";
                }
                <tr style="text-align:center; color:@renk">
                    <td>@altKtgr.AltKategoriId</td>
                    <td>@altKtgr.AltKategoriAdi</td>
                    <td>@altKtgr.Kategori.KategoriAdi</td>
                    <td>@altKtgr.AltKategoriAciklama</td>
                    <td>@durum</td>
                    <td>
                        <a class="btn btn-success" href="/AltKategori/Guncelle/@altKtgr.AltKategoriId">Güncelle</a>&nbsp;
                        <a class="btn btn-danger" href="/AltKategori/Sil/@altKtgr.AltKategoriId">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-primary" href="/AltKategori/Ekle/">Yeni Alt Kategori Ekle</a>

</div>
