@using StokTakip.Entities.Model
@model Birim
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin:15px;text-align:center;color:#4B5860">
    <h2><b>@Model.BirimAdi Güncelle</b></h2>
</div>

<div class="form-group" style="margin:15px">
    @using (Html.BeginForm("Guncelle", "Birim", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.BirimId)

        @Html.Label("Birim Adı")
        @Html.TextBoxFor(x => x.BirimAdi, new { @class = "form-control" })
        <br />
        @Html.Label("Birim Açıklama")
        @Html.TextBoxFor(x => x.BirimAciklama, new { @class = "form-control" })
        <br />
        <button class="btn btn-success">Birim Güncelle</button>
    }
</div>


