@model StokTakip.Entities.Model.StokGirisCikis
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="text-align:center;color:white; margin:15px;background-color:#4B5860">
    <h2><b>Stok Ekle</b></h2>
</div>

<div style="margin:15px" class="form-group">
    @using (Html.BeginForm("Ekle", "StokGirisCikis", FormMethod.Post))
    {
        @Html.Label("UrunMiktar")
        @Html.TextBoxFor(x => x.UrunMiktar, new { @class = "form-control" })
        <br />
        @Html.Label("UrunBirimId")
        @Html.DropDownListFor(x => x.UrunBirimId, (List<SelectListItem>)ViewBag.Birimler, new { @class = "form-control" })
        <br />
        @Html.Label("UrunKategoriId")
        @Html.DropDownListFor(x => x.UrunKategoriId, (List<SelectListItem>)ViewBag.Kategoriler, new { @class = "form-control" })
        <br />
        @Html.Label("UrunAlisFiyat")
        @Html.TextBoxFor(x => x.UrunAlisFiyat, new { @class = "form-control" })
        <br />
        @Html.Label("UrunToplamFiyat")
        @Html.TextBoxFor(x => x.UrunToplamFiyat, new { @class = "form-control" })
        <br />
        @Html.Label("UrunAciklama")
        @Html.TextBoxFor(x => x.UrunAciklama, new { @class = "form-control" })
        <br />
        @Html.Label("StokPersonel")
        @Html.TextBoxFor(x => x.StokPersonel, new { @class = "form-control" })
        <br />
        <button class="btn btn-success">ürün Ekle</button>
    }
</div>