@using StokTakip.Entities.Model
@model List<StokGirisCikis>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin:15px;text-align:center;color:white;background-color:#4B5860">
    <h2><b>Stok Listesi</b></h2>
</div>

<div style="margin:15px" class="form-group">
    <table class="table table-bordered">
        <thead>
            <tr style="text-align:center; background-color:#4B5860; color:white">
                <th>UrunStokKodu</th>
                <th>UrunMiktar</th>
                <th>UrunBirimId</th>
                <th>UrunKategoriId</th>
                <th>UrunAlisFiyat</th>
                <th>UrunToplamFiyat</th>
                <th>UrunAciklama</th>
                <th>UrunDurum</th>
                <th>StokPersonel</th>
                <th>Stokİslem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var grsCks in Model)
            {
                <tr style="text-align:center">
                    <td>@grsCks.UrunStokKodu</td>
                    <td>@grsCks.UrunMiktar</td>
                    <td>@grsCks.Birim.BirimAdi</td>
                    <td>@grsCks.Kategori.KategoriAdi</td>
                    <td>@grsCks.UrunAlisFiyat</td>
                    <td>@grsCks.UrunToplamFiyat</td>
                    <td>@grsCks.UrunAciklama</td>
                    <td>@grsCks.UrunDurum</td>
                    <td>@grsCks.StokPersonel</td>
                    <td>
                        <a class="btn btn-success" href="/StokGirisCikis/Guncelle/@grsCks.UrunStokKodu">Güncelle</a>&nbsp;
                        <a class="btn btn-danger" href="/StokGirisCikis/Sil/@grsCks.UrunStokKodu">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-primary" href="/StokGirisCikis/Ekle/">Yeni ürün Ekle</a>

</div>