@using PagedList
@using PagedList.Mvc
@using StokTakip.Entities.Model
@model List<StokHareket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div style="margin:15px;text-align:center;color:white;background-color:#4B5860">
    <h2><b>Stok Hareketleri</b></h2>
</div>

<div class="form-group" style="float:left;margin:15px">
    <a class="btn btn-warning" href="/StokHareket/Raporlama">Raporla</a>
</div>


<div class="form-group" style="float:right;margin:15px">
    @using (Html.BeginForm("Index", "StokHareket", FormMethod.Get))
    {
        <div>
            <b>Ürün Adı : </b> @Html.TextBox("aranacakHareket") &nbsp;
            <button style="text-align: center; color: white; background-color: #4B5860">Ara</button>
        </div>
    }
</div>

<div style="margin:15px" class="form-group">
    <table class="table table-bordered">
        <thead>
            <tr style="text-align:center; background-color:#4B5860; color:white">
                <th>Hareket Id</th>
                <th>İşlem Tarihi</th>
                <th>Ürün Adı</th>
                <th>Miktarı</th>
                <th>Alış Fiyatı</th>
                <th>Satış Fiyatı</th>
                <th>İskonto Oranı</th>
                <th>Son Fiyatı</th>
                <th>Personel</th>
                <th>Tip</th>
                <th>Giriş - Çıkış</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stkHrkt in Model)
            {
                #region // bazı işlemler
                string renk = "green", tip = "Giriş";
                if (!stkHrkt.HareketTipi)
                {
                    renk = "red";
                    tip = "Çıkış";
                }
                #endregion

                <tr style="text-align:center; color:@renk">
                    <td>@stkHrkt.HareketId</td>
                    <td>@stkHrkt.Tarih.ToString("dd.MM.yyyy")</td>
                    <td>@stkHrkt.Urun.UrunAdi</td>
                    <td>@stkHrkt.UrunMiktar</td>
                    <td>@stkHrkt.UrunAlisFiyat₺</td>
                    <td>@stkHrkt.UrunSatisFiyat₺</td>
                    <td>%@stkHrkt.Iskonto</td>
                    <td>@stkHrkt.UrunSonFiyat₺</td>
                    <td>@stkHrkt.Personel.PersonelAdi @stkHrkt.Personel.PersonelSoyadi</td>
                    <td>@tip</td>
                    <td>
                        <a class="btn btn-success" href="/StokHareket/StokGiris/@stkHrkt.Urun.UrunId">Ekle</a>
                        <a class="btn btn-primary" href="/StokHareket/StokCikis/@stkHrkt.Urun.UrunId">Stok Düş</a>
                        <a class="btn btn-danger" href="/StokHareket/Sil/@stkHrkt.HareketId">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>



</div>


