@model StokTakip.Entities.Model.StokHareket
@{
    ViewBag.Title = "StokGiris";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div style="text-align:center;color:white; margin:15px;background-color:#4B5860">
    <h2><b>Stok Giriş</b></h2>
</div>

<div style="margin:15px" class="form-group">
    @using (Html.BeginForm("StokGiris", "StokHareket", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.HareketId)

        @Html.Label("Ürün Adı")
        @Html.DropDownListFor(x => x.UrunId, (List<SelectListItem>)ViewBag.Urunler, new { @class = "form-control" })
        <br />
        @Html.Label("Ürün Miktar")
        @Html.TextBoxFor(x => x.UrunMiktar, new { @class = "form-control" })
        <br />
        @Html.Label("Alış Fiyatı")
        @Html.TextBoxFor(x => x.UrunAlisFiyat, new { @class = "form-control" })
        <br />

        <button class="btn btn-success">Stoğa Ekle</button>
    }
</div>

