@using StokTakip.Entities.Model
@model Urun
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin:15px;text-align:center;color:#4B5860">
    <h2><b>@Model.UrunId Güncelle</b></h2>
</div>


<div class="form-group" style="margin:15px">
    @using (Html.BeginForm("Guncelle", "Urun", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.UrunId)

        @Html.Label("Ürün Adı")
        @Html.TextBoxFor(x => x.UrunAdi, new { @class = "form-control" })
        <br />
        @Html.Label("Ürün Miktar")
        @Html.TextBoxFor(x => x.UrunMiktar, new { @class = "form-control" })
        <br />
        @Html.Label("Birim")
        @Html.DropDownListFor(x => x.UrunBirimId, (List<SelectListItem>)ViewBag.Birimler, new { @class = "form-control" })
        <br />
        @Html.Label("Kategori")
        @Html.DropDownListFor(x => x.UrunKategoriId, (List<SelectListItem>)ViewBag.Kategoriler, new { @class = "form-control" })
        <br />
        @Html.Label("Marka")
        @Html.DropDownListFor(x => x.UrunMarkaId, (List<SelectListItem>)ViewBag.Markalar, new { @class = "form-control" })
        <br />
        @Html.Label("Satış Fiyatı")
        @Html.TextBoxFor(x => x.UrunSatisFiyat, new { @class = "form-control" })
        <br />
        @Html.Label("Açıklama")
        @Html.TextBoxFor(x => x.UrunAciklama, new { @class = "form-control" })


        <br />
        <button class="btn btn-success">Ürün Güncelle</button>
    }
</div>
