@using StokTakip.Entities.Model
@model List<Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin:15px;text-align:center;color:white;background-color:#4B5860">
    <h2><b>Ürün Listesi</b></h2>
</div>

<div class="form-group" style="float:left;margin:15px">
    <a class="btn btn-warning" href="/Urun/Raporlama">Raporlama</a>

</div>

<div class="form-group" style="float:right;margin:15px">
    @using (Html.BeginForm("Index", "Urun", FormMethod.Get))
    {
        <div>
            <b>Ürün Adı : </b> @Html.TextBox("aranacakUrun") &nbsp;
            <button style="text-align: center; color: white; background-color: #4B5860">Ara</button>
        </div>
    }
</div>

<div style="margin:15px" class="form-group">
    <table class="table table-bordered">
        <thead>
            <tr style="text-align:center; background-color:#4B5860; color:white">
                <th>Id</th>
                <th>Adı</th>
                <th>Miktar</th>
                <th>Birim</th>
                <th>Kategori</th>
                <th>Marka</th>
                <th>Satış Fiyat</th>
                <th>Aciklama</th>
                <th>Ürün Durum</th>
                <th>İşlem</th>
                <th>Hareket</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var urun in Model)
            {
                <tr style="text-align:center">
                    <td>@urun.UrunId</td>
                    <td>@urun.UrunAdi</td>
                    <td>@urun.UrunMiktar</td>
                    <td>@urun.Birim.BirimAdi</td>
                    <td>@urun.Kategori.KategoriAdi</td>
                    <td>@urun.Marka.MarkaAdi</td>
                    <td>@urun.UrunSatisFiyat₺</td>
                    <td>@urun.UrunAciklama</td>
                    <td>@urun.UrunDurum</td>
                    <td>
                        <a class="btn btn-warning" href="/Urun/Guncelle/@urun.UrunId">Güncelle</a>
                        @{
                            if (int.Parse(Session["YetkiId"].ToString()) == 1 || int.Parse(Session["YetkiId"].ToString()) == 3)
                            {
                                <a class="btn btn-success" href="/StokHareket/StokGiris/@urun.UrunId">Giriş</a>
                            }
                        }

                        @{
                            if (int.Parse(Session["YetkiId"].ToString()) == 1 || int.Parse(Session["YetkiId"].ToString()) == 4)
                            {
                                <a class="btn btn-danger" href="/StokHareket/StokCikis/@urun.UrunId">Çıkış</a>
                            }
                        }

                    </td>
                    <td>
                        <a class="btn btn-warning" href="/StokHareket/GetById/@urun.UrunId">Hareket</a>
                        <a class="nav-item; btn btn-info" href="/Sepet/Ekle/@urun.UrunId">
                            Ekle
                            <i class="nav-icon fas fa-shopping-cart"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-primary" href="/Urun/Ekle/">Yeni Ürün Ekle</a>


</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>

    $('.btn-info').click(function () {
        swal({
            title: "Sepete Eklendi!",
            text: "Seçtiğiniz ürün sepete eklendi.",
            icon: "success",
            button: "Tamam!",
        });
    });


</script>
